<!-- <h1>This is the home page!</h1>

<img src="http://cdn2-www.dogtime.com/assets/uploads/gallery/pomsky-dog-breed-pictures/thumbs/thumbs_pomsky-dog-breed-pictures-1.jpg"> -->



<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                EJS Is Fun
            </a>

            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </div>

    </div>
</nav>